body {
	font-family: Helvetica, sans-serif;
    line-height: 1.5;
	background-color: rgb(0, 153, 255);
}


h1 {
    color: rgb(204, 0, 0);
    margin-bottom: 0.7em;
    line-height: 1.2;
}


input[type="text"],
textarea,
.confirmation-output {
  padding: 16px;
  margin: 12px;
  border-style: 2px;
}


table {
    margin: 0.5em;
    text-align: center;
}


a {
  color: rgb(153, 255, 0);
}


a:visited {
  color: rgb(255, 174, 0);
}
